
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>
          Add User
        </h2>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
    <div class="row">
      <div class="col-sm">
        <form  #form="ngForm">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="InputFirstName"  [(ngModel)]="user.firstName" placeholder="Enter First Name" required name="firstName" (keyup)="checkIfInputIsempty($event)">
          </div>
          <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="inputLastName"  [(ngModel)]="user.lastName"  placeholder="Enter Last Name" required name="lastName" (keyup)="checkIfInputIsempty($event)">
          </div>
          <button  class="btn btn-primary" (click)="sendMessage()" [disabled] = "!isEnabled ? 'disabled' : null">Submit</button>
        </form>
      </div>
      <div class="col-sm"></div>
      <div class="col-sm"></div>
    </div>
  </div>