<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h2 class="titleUser">User Management </h2>
         </div>
        <div class="col"></div>
    </div>
    <table class="table table-striped">
        <thead class="black white-text">
            <tr>
                <td scope="col"> # </td>
                <td scope="col">
                    name
                </td>
                <td scope="col">
                    lastname
                </td>
                <td scope="col">
                    Detail
                </td>
                <td scope="col">
                    Edit
                </td>
                <td scope="col">
                    Delete
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; index as i">
                <td>{{i+1}}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>
                    <button class="btn btn btn-secondary"> Detail</button>
                </td>
                <td> 
                    <button type="button" class="btn btn-primary">Edit</button>
                </td>
                <td> 
                    <button type="button" class="btn btn-success">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button"class="btn btn-lg btn-outline-primary">Add User</button>
</div>
